<section>
  <div id="teamBgOne" class="bg-image">
    <h1 id="teamHeading">Global Presence</h1>
  </div>
</section>

<section class="section-info">
  <div id="teamBgTwo">
    <%= render partial: "partials/section_display" %>
  </div>
</section>

<section>
  <div class="profile-container center-block">
    <div class="heading-sect">
      <div class="image-container">
        <%= image_tag("brad_vale_profile_sprite_low_res.jpg", alt: "Doctor Brad Vale Profile Image")%>
      </div>
      <div class="title-container">
        <h3>Brad Vale<br/>PhD, DVM<br/><span>Managing Partner</span></h3>
        <a href="https://www.linkedin.com/in/brad-vale-phd-dvm-0611181" alt="Brad Vale LinkedIn Profile" target="_blank">
          <div class="linked-in-logo"></div>
        </a>
      </div>
    </div>
    <div class="body-sect">
      <p class="bio-text">
        Dr. Brad Vale has over thirty years of leadership experience in healthcare at Johnson &amp; Johnson. He spent 22 years in JJDC, the oldest and largest corporate healthcare investment fund with over $1B in investments under management. Brad started out at JNJ at Ethicon, the leading company in wound closure, where he worked on surgical product development. He ran JJDC for the last 5 years and established JJDC offices globally, including Shanghai, London, Tel Aviv, Boston and Si-Valley. Brad completed a PhD in Biomedical Engineering at Iowa State University and his Doctor of Veterinary Medicine at Washington State University.</p>
    </div>
  </div>
  
  <div class="profile-container center-block">
    <div class="heading-sect">
      <div class="image-container">
        <%= image_tag("mudit_jain_profile_sprite_low_res.jpg", alt: "Doctor Mudit Jain Profile Image")%>
      </div>
      <div class="title-container">
        <h3>Mudit Jain<br/>PhD<br/><span>Managing Partner</span></h3>
        <a href="https://www.linkedin.com/in/mudit-jain-phd-242637" alt="Mudit Jain LinkedIn Profile" target="_blank">
          <div class="linked-in-logo"></div>
        </a>
      </div>
    </div>
    <div class="body-sect">
      <p class="bio-text">
        Dr. Mudit Jain has 18 years of operating, venture, and M&amp;A experience at Guidant, Johnson &amp; Johnson, and Synergy LifeScience Partners (A medical device and wearable medtech focused fund) . He has worked on projects in India, USA, and Ireland. Mudit has a PhD in Biomedical Engineering from Duke University, and a MBA in Healthcare from The Wharton School of Business.</p>
    </div>
  </div>
  
  <div class="profile-container center-block">
    <div class="heading-sect">
      <div class="image-container">
        <%= image_tag("ed_brennan_profile_sprite_low_res.jpg", alt: "Doctor Ed Brennan Profile Image")%>
      </div>
      <div class="title-container">
        <h3>Ed Brennan<br/>PhD<br/><span>Founding Venture<br/>Partner</span></h3>
      </div>
    </div>
    <div class="body-sect">
      <p class="bio-text">
        Dr. Ed Brennan is a serial medical device entrepreneur and investor. He has been the Co-Founder and CEO of multiple device and diagnostic companies, raising over $400MM for those companies. He led multiple IPOs and strategic exits on those companies. Ed completed his PhD in Microbiology at UC Santa Cruz.</p>
    </div>
  </div>
</section>

<script>
  $(function(){
    var $container = $("#teamBgOne");
    var downloadingImageBackground = new Image();
    var backgroundImageUrl = "<%= asset_path('golden_gate_high_res.jpg')%>";

    downloadingImageBackground.onload = function(){
      $container.css({backgroundImage: "url('" + backgroundImageUrl + "')"})
    };
    downloadingImageBackground.src = backgroundImageUrl;
  });
</script>