<nav class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" data-target="#navigationMenuDropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if params[:action] == 'home' %>
        <%= link_to "SHIP", root_path, class: "navbar-brand navbar-logo logo-is-active", id: "navLogo" %>
      <% else %>
        <%= link_to "SHIP", root_path, class: "navbar-brand navbar-logo", id: "navLogo" %>
      <% end %>
      
    </div>

    <div class="collapse navbar-collapse" id="navigationMenuDropdown">
      <ul class="nav navbar-nav navigation-list">
        <li class="<%= 'is-active' if params[:action] == 'about' %>"><%= link_to "About", about_path, class: "sliding-u-l-r" %></li>
        <li class="<%= 'is-active' if params[:action] == 'team' %>"><%= link_to "Team", team_path, class: "sliding-u-l-r" %></li>
        <li class="<%= 'is-active' if params[:action] == 'fund' %>"><%= link_to "Fund", fund_path, class: "sliding-u-l-r" %></li>
        <% if user_signed_in? %>
          <li class="right-list-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sliding-u-l-r" %></li>
        <% else %>
          <li class="right-list-item"><%= link_to "Sign In", new_user_session_path, class: "sliding-u-l-r" %></li>
        <% end %>
        
      </ul>
    </div>

</nav>

<script>
  $(function(){
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $(".sliding-u-l-r").removeClass("sliding-u-l-r");
    }
  })
</script>