<!DOCTYPE html>
<html>
<head>
  <title>SHIPwebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  
  <nav>
    <a href="<%= page_path('home') %>"><div id="SHIPLogo"><h1>Strategic Healthcare<br>Investment Partners</h1><%= render "partials/brain_circuit" %></div></a>
    <ul>
      <a href="<%= page_path('team') %>"><li class="sliding-u-l-r">Team</li></a>
      <a href="<%= page_path('portfolio') %>"><li class="sliding-u-l-r">Portfolio</li></a>
      <a href="<%= page_path('library') %>"><li class="sliding-u-l-r">Library</li></a>
    </ul>
  </nav>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
