<!DOCTYPE html>
<html>
<head>
  <title>Strategic Healthcare Investment Partners</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,400,500' rel='stylesheet' type='text/css'>
  <% if Rails.env == "production" %>
    <%= render partial: "partials/google_analytics" %>
  <% end %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Strategic Health VC"/>
	<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Venture fund with medical device focus."/>
	<meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://www.strategichealthvc.com"/>
	<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://image.ibb.co/jAdL55/strategic_health_vc_landing_page.jpg"/>
</head>
<body>
  <div class="container-fluid">
    <%= render partial: "partials/nav_bar" %>
    <% if user_signed_in? %>
      <%= render partial: "partials/editing_nav_bar" %>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <div>
      <%= yield %>
    </div>
    <%= render partial: "partials/footer" %>
  </div>

  <script>
    $(function(){
      var $notice = $(".notice");
      var $alert = $(".alert");
      
      if($notice.length > 0){
        setTimeout(function(){
          $notice.remove();
        }, 3000);
      }
      if($alert.length > 0){
        setTimeout(function(){
          $alert.remove();
        }, 3000);
      }
    })
  </script>
</body>
</html>
